* {
	text-align: center;
}

.souce {
	font-size: 14px;
	color: lightgray;
}

h1 {
	font-size: 35px;
	font-family: Verdana, sans-serif;
}

p {
	font-size: 20px;
}

.orange {
	color: orange;
	list-style-type: none;
}

a {
	font-family: Verdana, sans-serif;
	font-size: 20px;
	color: darkorange;
	font-weight: bold;
}
